h1 {
    font-weight: normal;
    font-size: 2em;
    color: #999;
}

body, a {
    text-align: center;
    color: #999;
}

.plink, .sorter {
    display: block;
    margin: 0 auto;
    color: #333;
}

.sorter {
    cursor: pointer;
}